<div class="box">
  <legend><%= t("delivery_method") %></legend>
  <div class="inner" data-hook="delivery_method_inner">
  
      <p id="customer_name" data-hook>
        <%= label_tag(:customer_name, t("customer_name") ) %><br />
        <%= text_field_tag(:customer_name) %>
      </p>      
  
      <p id="email_Address" data-hook>
        <%= label_tag(:email, t("email") ) %><br />
        <%= text_field_tag(:email) %>
      </p>
      
      <p id="mobile_number" data-hook>
        <%= label_tag(:mobile_number, t("mobile_number") ) %><br />
        <%= text_field_tag(:mobile_number) %>
        <i> Please enter the mobile number in the format 27831234567</i>
      </p>      
      
  </div>
</div>
<br>
<div class="form-buttons" data-hook="buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
</div>
