<%= semantic_form_for [:admin, @order] do |f| %>

  <%= f.inputs "Details" do %>
      <%= f.input :user %>
      <%= f.input :number %>
      <%= f.input :state %>
      <%= f.input :payment_state %>
      <%= f.input :created_at %>
      <%= f.input :updated_at %>
      <%= f.input :completed_at %>
  <% end %>

  <%= f.inputs "Customer Details" do %>
      <%= f.input :customer_name %>
      <%= f.input :email %>
      <%= f.input :mobile_number %>
  <% end %>

  <%= f.inputs "Total" do %>
      <%= f.input :item_total %>
      <%= f.input :customer_total %>
      <%= f.input :billing_total %>
      <%= f.input :full_total %>
      <%= f.input :payment_total %>
  <% end %>

  <% if @order.invoice.nil? %>
    <%= f.semantic_fields_for :invoice, Invoice.new  do |invoice| %>
      <%= invoice.inputs :user, :email, :state, :sub_total, :tax, :total %>
    <% end %>
  <% else %>
    <%= f.semantic_fields_for :invoice  do |invoice| %>
      <%= invoice.inputs :user, :email, :state, :sub_total, :tax, :total %>
    <% end %>
  <% end %>

  <%= f.inputs "Order Items" do %>
    <table>
      <tr>
        <th>Variant</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Customer Price</th>
        <th>Billing Price</th>
        <th>Full Price</th>
      </tr>

      <% if !@order.order_items.empty? %>
        <%= f.semantic_fields_for :order_items do |b| %>
        <tr>
          <td><%= b.input :variant_id, :label => false, :as => :select, :collection => Hash[Variant.all.map{|v| [v.sku,v.id]}] %></td>
          <td><%= b.input :product_id, :label => false, :as => :select, :collection => Hash[Product.all.map{|p| [p.name,p.id]}] %></td>
          <td><%= b.input :quantity, :label => false %></td>
          <td><%= b.input :customer_price, :label => false %></td>
          <td><%= b.input :billing_price, :label => false %></td>
          <td><%= b.input :full_price, :label => false %></td>
          <td><%= link_to "Remove", "#", onclick: "
if (confirm('Are you sure you want to delete this?\
\\nIt will be permanently deleted!')) {
$.ajax({url: '/order_items/#{b.object_id}', type: 'DELETE'});
$(this).closest('tr').remove(); return false;
}", :class => "button" %>
          </td>
          </tr>
        <% end %>
      <% else %>
        <%= f.semantic_fields_for :order_items, OrderItem.new do |b| %>
        <tr>
          <td><%= b.input :variant_id, :label => false, :as => :select, :collection => Hash[Variant.all.map{|v| [v.sku,v.id]}] %></td>
          <td><%= b.input :product_id, :label => false, :as => :select, :collection => Hash[Product.all.map{|p| [p.name,p.id]}] %></td>
          <td><%= b.input :quantity, :label => false %></td>
          <td><%= b.input :customer_price, :label => false %></td>
          <td><%= b.input :billing_price, :label => false %></td>
          <td><%= b.input :full_price, :label => false %></td>
          <td><%= link_to "Remove", "#", onclick: "
if (confirm('Are you sure you want to delete this?\
\\nIt will be permanently deleted!')) {
$.ajax({url: '/order_items/#{b.object_id}', type: 'DELETE'});
$(this).closest('tr').remove(); return false;
}", :class => "button" %>
          </td>
          </tr>
        <% end %>
      <% end %>


    </table>

  <% end %>

  <%= f.inputs "Payments" do %>
    <table>
      <tr>
        <th>State</th>
        <th>Source</th>
        <th>Amount</th>
      </tr>

      <% if @order.payments.empty? %>
        <%= f.semantic_fields_for :payments, Payment.new  do |c| %>
        <tr>
          <td><%= c.input :state, :label => false %></td>
          <td><%= c.input :source_type, :label => false %></td>
          <td><%= c.input :amount, :label => false %></td>
          <td><%= link_to "Remove", "#", onclick: "
if (confirm('Are you sure you want to delete this?\
\\nIt will be permanently deleted!')) {
$.ajax({url: '/payments/#{c.object_id}', type: 'DELETE'});
$(this).closest('tr').remove(); return false;
}", :class => "button" %>
          </td>
        </tr>
      <% end %>
      <% else %>
        <%= f.semantic_fields_for :payments do |c| %>
        <tr>
          <td><%= c.input :state, :label => false %></td>
          <td><%= c.input :source_type, :label => false %></td>
          <td><%= c.input :amount, :label => false %></td>
          <td><%= link_to "Remove", "#", onclick: "
if (confirm('Are you sure you want to delete this?\
\\nIt will be permanently deleted!')) {
$.ajax({url: '/payments/#{c.object_id}', type: 'DELETE'});
$(this).closest('tr').remove(); return false;
}", :class => "button" %>
          </td>
        </tr>
      <% end %>
      <% end %>

    </table>

  <% end %>
  <%= f.buttons %>

<% end %>