<div class="ui-grid-c">
	<div class="ui-block-a"><b><%= t('item') %></b></div>
	<div class="ui-block-b"><b><%= t('price') %></b></div>
	<div class="ui-block-c"><b><%= t('qty') %></b></div>
	<div class="ui-block-d"><b><%= t('total') %></b></div>

    <% @order.order_items.each do |item| %>
		<div class="ui-block-a"><%= item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></div>
		<div class="ui-block-b"><%= format_price item.customer_price %></div>
		<div class="ui-block-c"><%= item.quantity %></div>
		<div class="ui-block-d"><%= format_price (item.customer_price * item.quantity) %></div>    
    <% end %>
</div>
<br>
<fieldset class="ui-grid-a">
	<div class="ui-block-a"><div class="status plain"><%= t('subtotal') %></div></div>
	<div class="ui-block-b"><div class="status info"><%= format_price @order.customer_total %></div></div>	  
	<div class="ui-block-a"><div class="status plain"><%= t('order_total') %></div></div>
	<div class="ui-block-b"><div class="status info"><%= format_price @order.customer_total %></div></div>	 
</fieldset>