<table class="index" data-hook="order_details" style="width:100%;">
  <tbody id='line-items' data-hook>
    <tr data-hook="order_details_order_items_headers">
      <th><%= t('item_description') %></th>
      <th class="price"><%= t('price') %></th>
      <th class="qty"><%= t('qty') %></th>
      <th class="qty"><%= t('note') %></th>
      <th class="total"><span><%= t('total') %></span></th>
    </tr>
  <tr><td></td></tr> 
    <% @order.order_items.each do |item| %>
      <tr data-hook="order_details_line_item_row">
        <td width="300"><%=item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
        <td align="center" class="price"><%= format_price item.customer_price %></td>
        <td align="center" class="qty"><%=item.quantity%></td>
        <td align="center" class="qty"><%=item.attribute_note%></td>
        <td align="right" class="total"><span><%= format_price (item.customer_price * item.quantity)%></span></td>
      </tr>
    <% end %>
  </tbody>
  <tr><td></td></tr>
  <tr><td></td></tr>    
  <tbody id='subtotal' data-hook="order_details_subtotal">
    <tr class="total" id="subtotal-row">
      <td colspan="3"><b><%= t('subtotal') %>:</b></td>
      <td align="right" class="total"><b><span><%= format_price @order.item_total %></span></b></td>
    </tr>
  </tbody>
  <tbody id='order-total' data-hook="order_details_total">
    <tr class="total">
      <td colspan="3"><b><%= t('order_total') %>:</b></td>
      <td align="right" class="total"><span id="order_total"><b><%= format_price @order.customer_total %></span></b></td>
    </tr>
  </tbody>
</table>
