<h1>Your Orders</h1>
 
<%= render :partial => 'shared/order_stats', :locals => {:order_volume => @order_volume, :order_customer_value => @order_customer_value, :order_full_value => @order_full_value} %> 
 
<br><br> 
 
<%= form_tag orders_path, :method => 'get', :id => "orders_search" do %>
  <p>
  	Search Customer Name
  	<%= select_tag :fieldtype, options_for_select([ "customer_name", "mobile_number", "number", "all_fields" ], "customer_name") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div id="orders"> 
	<%= render :partial => 'orders/orders', %>
</div>

<br />