<h1>
	<%= @order.number %>
   	<% if @order.is_paid %>
			   <span class="status success">Paid</span>
	<% else %>
			    <span class="status error">Balance Due</span>
	<% end %>
</h1>

<div id="order" data-hook>
	<% if params.has_key? :checkout_complete %>
		<h3><%= t('thank_you_for_your_order') %></h3>
	<% end %>
	<%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  
  	<br>
  
   	<div class="box">
		<h2><%= t(:order_packages) %></h2>
		<%= render :partial => 'shared/package_details', :locals => {:order => @order} %>  
	</div>
 
 	<div class="box">
		<h2><%= t(:delivery) %></h2>
		<%= render :partial => 'shared/delivery_details', :locals => {:order => @order} %> 
	</div>
  
	<div class="box">  
  		<h2><%= t(:payment) %></h2>
		<%= render :partial => 'shared/payment_details', :locals => {:order => @order} %> 
	</div>
	
	<div class="box">  	
	  	<h2><%= t(:comment) %></h2>
	  	<%= render :partial => 'comments/comments', :locals => {:comments => @comments} %>
	  	
		<%= render :partial => 'comments/comment_form', :locals => {:model => @order, :type => 'Order'} %>	
	</div>
  
	<p data-hook="links">
		<%= link_to t('back_to_store'), root_path %>
	</p>
</div>