<div data-role="header" data-theme="d">
	<a href="" data-rel="back" data-icon="back">Back</a>
	<h1><%= @order.number %></h1>
	<%= link_to 'Home', root_path, "class" => "ui-btn-right", "data-icon" => "home" %>
</div>

<div data-role="content" data-theme="d">

	<div id="order" data-hook>
	  <% if params.has_key? :checkout_complete %>
	  	<h3><%= t('thank_you_for_your_order') %></h3>
	  <% end %>
	  <% if @order.is_paid %>
		   <div class="status success" style="width:97%;">Paid</div>
      <% else %>
		    <div class="status error" style="width:97%;">Balance Due</div>
      <% end %>
	  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
	</div>
	<br> 		
	
	<div data-role="collapsible" data-collapsed="true">
		<h3>Package Details</h3>
		<%= render :partial => 'shared/package_details', :locals => {:order => @order} %>
	</div>
		
	<div data-role="collapsible" data-collapsed="true">
		<h3><%= t(:delivery) %></h3>
		<%= render :partial => 'shared/delivery_details', :locals => {:order => @order} %> 
	</div>

	
</div>