<!DOCTYPE html>
<html>
<head>
<title>MoSeller</title>
<%= stylesheet_link_tag 'mobile' %>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
<%= javascript_include_tag "jquery-1.5.1.min.js" %>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
<script>
 $(document).ready(function() {
  // disable ajax nav
  $.mobile.ajaxLinksEnabled = false;
  $.mobile.ajaxEnabled = false;
 });
</script>
</head>
<body>
<div data-role="page" id="home">
  <header>
		<div id="logo">
			<%= image_tag "emblem.png" %>
			MoSeller
		</div>
  </header>
  
  <%= yield %>

 <div data-role="footer" data-theme="d">
	<div data-role="navbar">
		<%= render "shared/footer_navigation" %>
	</div>
 </div>
</div>
</body>
</html>