<!DOCTYPE html>
<html>
  <head>
  <title>MoSeller</title>
  <%= csrf_meta_tag %>
  <meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">
  <%= render 'shared/stylesheets' %>
  <%= stylesheet_link_tag "frontend" %>
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "jquery_ujs" %>

  <link rel="shortcut icon" href="/images/favicon.ico" />
  </head>
  <body>
  	<header>
		<div class="container">
			<div id="logo">
				<%= image_tag "emblem.png" %>
				<%= link_to('MoSeller', root_path )  %>
			</div>
		</div>
	</header>
	<nav>
	   <div class="container">
       		<%= render "shared/navigation" %>
       </div>
	</nav>
    <div class="container">
      <section class="round">
         <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
      FB.init({
        appId: "<%= Facebook.config[:client_id] %>",
        cookie: true,
        xfbml: true,
        oauth: true
      });
</script>