<!DOCTYPE html>
<html>
  <head>
  <title>MoSeller</title>
  <%= csrf_meta_tag %>
  <%= render 'shared/stylesheets' %>
  <script type="text/javascript" src="/javascripts/jquery-1.5.1..min.js?1310575043"></script>
  <%= include_gritter_and_jquery %>
  </head>
  <body>
	<header>
        <nav>
          <%= render "shared/navigation" %>
        </nav>
	</header>
    <div class="container">
      <section class="round">
      	 <%= gflash %>
         <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>